@tailwind base;
@tailwind components;
@tailwind utilities;

/* .router-link-active:not(.btn-primary):hover {
    color: initial !important;
    cursor: default;
} */

@layer base {
    body {
        @apply font-body;
    }
    b,
    strong {
        font-weight: 600;
    }
    p {
        @apply text-lg leading-7 text-gray-800;
    }
}

@layer components {
    .btn-primary {
        @apply inline-block rounded-full border border-coral-900 bg-coral-900 px-4 py-2.5 text-base font-semibold text-white shadow-sm transition-transform hover:scale-105 hover:cursor-pointer hover:border hover:bg-white hover:text-coral-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    }

    .btn-primary.--onDark {
        @apply hover:border-white;
    }

    .btn-round {
        @apply flex h-10 w-10 flex-wrap content-center justify-center rounded-full text-center align-middle uppercase leading-10 hover:bg-coral-50;
    }

    .btn-round.--onDark {
        @apply text-white hover:bg-gray-800;
    }
}
